extends layouts/layout

block content
  .row
    .col-md-4
      .profile-info-wrapper.load-hidden
        img.rounded.img-fluid.mb-2(src=`${user.obtenerAvatar(200)}`)
        h4.text-white #{user.name}
        p.text-white #{user.bio}
        //- Edit Form
        //- Check if currentUser is the user from current profile
        if (currentUser && `${currentUser.id}` === `${user._id}`)
          button.btn.btn-warning.mb-2(type='button' data-toggle='collapse' data-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample')
            | Edit Account
          #collapseExample.collapse
            .card.card-body
              form(role='form', action="/profile/me?_method=PUT", method='POST')
                fieldset
                  h4.text-white Edit User
                  .form-group
                    label.text-white(for='name') Name
                    input#name.form-control.input-lg(type='text', name='user[name]', value=user.name)
                  .form-group
                    label.text-white(for='email') Email
                    input#email.form-control.input-lg(type='email', name='user[email]', value=user.email)
                  .form-group
                    label.text-white(for='username') Username
                    input#username.form-control.input-lg(type='text', name='user[username]', value=user.username)
                  .form-group
                    label.text-white(for='bio') Bio
                    input#bio.form-control.input-lg(type='text', name='user[bio]', value=user.bio)
                  .row
                    .col-md-4
                      input.btn.btn-warning.btn-block(type='submit', value='Update')
          //- Delete Account Form
          button.btn.btn-danger.d-block(type='button', data-toggle='modal', data-target='#deleteAcc') Delete Account
          //- Modal
          #deleteAcc.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Important Note!
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  | Are you sure you want to delete permanently your account? There's no way back to this action
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  form(role='form', action="/profile/me?_method=DELETE", method='POST')
                    input.btn.btn-danger(type='submit', value='Delete Account')      
    .col-md-8
      .profile-tweet-wrapper.load-hidden
        .card.mb-3
          .card-body
            .row
              .col-md-2.text-center.text-white
                | Tweets
                br
                strong #{tweets.length}
              .col-md-2.text-center.text-white
                | Followers
                br
                strong #{user.followers.length}
              .col-md-2.text-center.text-white
                | Following
                br
                strong #{user.following.length}
              if !hideButtons
                if !isFollowing
                  .col-md-3.offset-md-3
                    a.btn.btn-info.float-right(href=`/profile/follow/${user._id}`) Follow
                else
                  .col-md-3.offset-md-3
                    a.btn.btn-danger.float-right(href=`/profile/unfollow/${user._id}`) Unfollow

      include partials/tweetFeed