extends layout

block contenido
  .row.justify-content-center(style='margin-top: -25%')
    .col-md-8
      ul.list-unstyled
        each usuario in usuarios
          li.media
            a.float-left.mr-2(href=`/perfil/${usuario._id}`)
              img.foto-perfil.rounded(src=`${usuario.obtenerAvatar(55)}`) 
            .media-body.pl-3
              a.text-white(href=`/perfil/${usuario._id}`)
                h4.title.text-white #{usuario.nombre}
              p.summary.text-white #{usuario.biografia}
          hr(style='border-top: 1px solid #ffffff47')