extends layouts/layout

block contenido
  .row
    .col-md-3
      img.rounded.img-fluid.mb-2(src=`${usuario.obtenerAvatar(400)}`)
      h4.text-white #{usuario.nombre}
      p.text-white #{usuario.biografia}

    .col-md-9
      .card.mb-3
        .card-body
          .row
            .col-md-2.text-center.text-white
              | Tweets
              br
              strong #{tweets.length}
            .col-md-2.text-center.text-white
              | Seguidores
              br
              strong #{usuario.seguidores.length}
            .col-md-2.text-center.text-white
              | Siguiendo
              br
              strong #{usuario.siguiendo.length}
            if !esconderBotones
              if !estaFollowing
                .col-md-3.offset-md-3
                  a.btn.btn-info.float-right(href=`/seguir/${usuario._id}`) Seguir
              else
                .col-md-3.offset-md-3
                  a.btn.btn-danger.float-right(href=`/unseguir/${usuario._id}`) Dejar de seguir
      include partials/tweetFeed